/* Haruki styles */

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  width: calc(100% - 2em);
  vertical-align: top; 
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
}

.input__field:focus {
  outline: none; 
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 0.5em;
  width: 40%;
  color: #fff;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1em 0;
  width: 100%; 
  font-family: $heading-font;
}

.input--haruki {
  margin: 1.5em 1em; 
}

.input__field--haruki {
  padding: 0.25em 0.25em;
  width: 100%;
  background: $primary-green;
  color: #fff;
  font-size: 1.55em; 
}

.input__label--haruki {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none; 
}

.input__label-content--haruki {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s; 
}

.input__label--haruki::before,
.input__label--haruki::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: +1;
  width: 100%;
  height: 4px;
  background: $fourth-green;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s; 
}

.input__label--haruki::before {
  top: 0; 
}

.input__label--haruki::after {
  bottom: +3px; 
}

.texta.input__label--haruki::after {
  bottom: -98px;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0); 
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0); 
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0); 
}

/* General */

textarea.input__field--haruki {
  resize: none;
  overflow: auto
}

/* Contact btn */

.contact-btn {
  opacity: 0;
  display: block;
  background:transparent;
  border: 3px solid #fff;
  border-radius: 0.6em;
  padding: 0.2em 0.8em;
  margin: 0.2em auto 1em;
  color: #fff;
  font-family:$heading-font;  
  font-weight:300;
  font-size: 1.5em;
  &:hover{
    background: #fff;
    color: $fifth-green
  }
}

.contact-btn.valid {
  opacity: 1;
}

/* Error messages */

.error-messages {
  width: 100%;
  height: 1em;
  text-align: center;
  color: #fff;
}

.sent-message,
.fail-message {
  opacity: 0;
  transition: opacity 1s ease;
}

.sent-message.sent,
.fail-message.fail {
  opacity: 1
}