<div class="navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="menu-icon" ng-click="isCollapsed = !isCollapsed">
        <span></span>
      </a>
      <a href="/" class="navbar-brand">lumbajack</a>
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>