<div id="navbar" class="top-nav" auto-hide ng-class="{'fill':isFilled, 'open':!isCollapsed}">
  <div class="container-fluid">
    <div class="nav-fill"></div>
    <div class="clearfix nav-header">
      <a class="menu-icon" ng-click="isCollapsed = !isCollapsed; openModal()" ng-class="{open: !isCollapsed}">
        <span></span>
      </a>
      <a ui-sref="main" class="navbar-brand">lumbajack</a>
    </div>

    <div collapse="isCollapsed" id="navbar-main">
      <ul class="nav-list">

        <li ng-repeat="item in menu">

            <a ui-sref="{{item.link}}" ui-sref-active="active" ng-click="closeNav()">{{item.title}}</a>

            <ul class="sub-menu" ng-if="$state.is(item.link) && hasSubmenu(item)">

              <li ng-repeat="submenu in item.submenu">
                <a href="#" scroll-to="{{submenu.link}}" ng-click="closeNav()">{{submenu.title}}</a>
              </li>

            </ul>

        </li>

      </ul>
    </div>

  </div>
</div>