/* GENERAL */

.top-nav {
	top: 0;
	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	transition: background .5s ease, height 1s ease;
}

.nav-list {
	list-style-type: none;
	margin: 0.5em 0;
	-webkit-padding-start: 0;
	li {
		position: relative;
		display: block;
		margin-bottom: 0.5em;
		a {
			font-family: $heading-font;
			color: #fff;
			font-size: 1.3em;
			font-weight: 600;
			display: block;
			&:hover {
				text-decoration: none;
				color: $fourth-green;
			}
		}
	}
}

/* BRAND */

.navbar-brand {
  font: 1.5em $logo-font;
  color: #fff;
  text-shadow: 2px 2px 0 #000;
  width: 100%;
  text-align: center;
  &:hover {
  	color: #fff
  }
  &:focus {
  	outline: none;
  	color: #fff
  }
}

/* NAV HEADER */

.nav-header {
	width: 100%;
	position: relative;
}

/* MENU ICON */

.menu-icon {
	position: absolute;
	top: 0;
	right: 0;
	display:  inline-block;
	width: 35px;
	height: 35px;
	bottom: 2px;
	float: right;
	margin: 1em 0 0;
}
.menu-icon:hover {
	cursor: pointer
}
.menu-icon span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu-icon span:before, .menu-icon span:after {
	position: absolute;
	content: '';
}
.menu-icon span, .menu-icon span:before, .menu-icon span:after {
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: block;
}
.menu-icon span:before {
	margin-top: -8px;
}
.menu-icon span:after {
	margin-top: 8px;
}

/*--- menu icon transition ---*/

.menu-icon span {
	transition-duration: 0s;
	transition-delay: .2s;
}
.menu-icon.open span {
	background-color: rgba(0,0,0,0.0);
	transition-delay: .2s;
}
.menu-icon span:before {
	transition-property: margin, -webkit-transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
}
.menu-icon.open span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0, .2s;
}
.menu-icon span:after {
	transition-property: margin, -webkit-transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
}
.menu-icon.open span:after {
	margin-top: 0;
	transform: rotate(-45deg);
	transition-delay: 0, .2s;
}

/* Nav states */

.top-nav.fill {
	background: url(/assets/images/pattern2.png) repeat;
  background-size: 1000px;
}

.top-nav.open {
	background: rgba(0,0,0,0.6);
	height: 100%;
}