<div class="top-nav" ng-class="{'fill':isFilled, 'open':!isCollapsed}">
  <div class="container-fluid">
    <div class="nav-fill"></div>
    <div class="clearfix nav-header">
      <a class="menu-icon" ng-click="isCollapsed = !isCollapsed">
        <span></span>
      </a>
      <a href="/" class="navbar-brand">lumbajack</a>
    </div>

    <div collapse="isCollapsed" id="navbar-main">
      <ul class="nav-list">

        <li ng-repeat="item in menu">

            <a ui-sref="{{item.link}}">{{item.title}}</a>

            <ul class="sub-menu" ng-show="$state.is(item.link) && hasSubmenu(item)">

              <li ng-repeat="submenu in item.submenu">
                <a href="#" scroll-to="{{submenu.link}}">{{submenu.title}}</a>
              </li>

            </ul>

        </li>

      </ul>
    </div>

  </div>
</div>