figure.portfolio-figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s ease;
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    h3 {
      margin: 0;
      padding: 0 0 0.5em;
      font-family: $heading-font;
      background: $underlight;
    }
    span {
      display: block;
      margin: 0.5em 0 1em;
    }
    a {
      font-size: 1.2em;
      position: relative;
      bottom:-4em;
    }
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(.55,.48,.21,1.49);
  }
}

.no-touch figure.portfolio-figure:hover img,
.touch figure.portfolio-figure.cs-hover img {
    transform: scale(1.1);
}

.no-touch figure.portfolio-figure:hover figcaption,
.touch figure.portfolio-figure.cs-hover figcaption {
    opacity: 1;
    transform: scale(1);
}