.portfolio-figure {
  display: inline-block;
  figure {
    margin: 0;
    position: relative;
    max-width: 500px;
    img {
      max-width: 100%;
      display: block;
      position: relative
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: $fifth-green;
    color: #fff;
    h3 {
      margin: 0;
      padding: 0;
      color: #fff;
      font-family: $heading-font;
    }
    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: $primary-green;
      color: #fff
    }
  }
}

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}