.portfolio-head {
  background: url(/assets/images/pattern2.png) repeat fixed;
  padding: 2em 0.5em;
  height: 40vh;
  max-height: 250px;
  text-align: center;
  color: #fff;
  display: table;
  width: 100%;
  h1 {
    font-weight: 700;
    padding-bottom: 0.5em;
    background: $underlight;
  }
  img {
    padding-bottom: 0.5em;
    background: $underline;
  }
  p {
    font-size: 1.3em;
  }
  .header-content {
    display: table-cell;
    vertical-align: middle;
  }
}

.portfolio-grid {
  text-align: center;
  padding: 100px 1em 100px 1em;
  list-style: none;
  max-width: 1300px;
  margin: 0 auto;
  li {
    display: inline-block;
    width: 440px;
    margin: 0;
    text-align: left;
    position: relative;
  }
}

@media screen and (max-width: 31.5em) {
  .portfolio-grid {
    padding: 2em 0;
  }
  .portfolio-grid li {
    width: 100%;
    min-width: 300px;
  }
}

/****** Project views *******/

.portfolio-container {
  [mobile-device], [browser-image] {
    margin-bottom: 2em;
  }
  .marvel-device {
    display: block;
    margin: 0 auto;
    &.iphone6 {
      width: 340px;
      height: 550px;
    }
  }
  .article {
    margin-top: 2em;
  }
}

.portfolio-copy {
  max-width: 650px;
  margin: 0 auto;
  color: $primary-green;
  p, li {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }
  p:first-child::first-letter {
    font-size: 2.7em;
    font-weight: 700;
    font-family: $heading-font;
    float: left;
    margin: 0 0.1em -0.25em 0;
    padding: 0 0.1em 0;
    line-height: 1;
    color: $fifth-green;
    border: 2px dashed $first-green;
  }
  p + * {
    margin-top: 1em; 
  }
  h2 {
    color: $fifth-green;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    background: $underline;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
  }
  img {
    width: 100%;
  }
}

.key-stats {
  color: $fifth-green;
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
  h5 {
    font-size: 1em;
    font-weight: 700;
  }
  .table {
    font-size: 0.8em;
    font-style: italic;
  }
}

.extras {
  h5 {
    font-size: 1.1em;
    font-weight: 700;
    color: $fifth-green;
  }
  p {
    font-size: 0.9em;
    color: $primary-green;
  }
  a {
    display: block;
    color: $primary-green;
    padding-top: 0.3em;
    border-top: 1px dashed $second-green;
  }
  a + a {
    margin-top: 0.3em;
  }
}

/********* State specific styles *********/

.portfolio-head.stl {
  background:url(/assets/images/projects/stl/stl-header.png) top/contain fixed no-repeat;
}

.portfolio-head.fsc {
  background:url(/assets/images/projects/fsc/fsc3.png) top/contain fixed no-repeat;
}

.portfolio-head.ops {
  background:url(/assets/images/projects/ops/ops-header.png) top center fixed no-repeat;
  background-color: #f8f8f8;
}


/***** Responsive video embed *******/

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1em;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}