.portfolio-head {
  background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,265,1) 100%), url(/assets/images/aerowood2.png) repeat;
  padding: 1em 0.5em;
  height: 40vh;
  max-height: 250px;
  text-align: center;
  color: $fifth-green;
  display: table;
  width: 100%;
  h1 {
    font-weight: 700;
    padding-bottom: 0.5em;
    background: $underline
  }
  img {
    padding-bottom: 0.5em;
    background: $underline;
  }
  p {
    font-size: 1.3em;
    color: $second-green;
  }
  .header-content {
    display: table-cell;
    vertical-align: middle;
  }
}

.portfolio-grid {
  text-align: center;
  .portfolio-figure {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-grid .portfolio-figure {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .portfolio-grid .portfolio-figure {
    max-width: 50%;
    margin: 0 0 -0.37em -0.3em;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-grid .portfolio-figure {
    max-width: 33.3333%;
    margin: 0 0 -0.37em -0.3em;
  }
}

/****** Project views *******/

.portfolio-container {
  padding-top: 3em;
  [mobile-device], [browser-image] {
    margin-bottom: 2em;
  }
  .marvel-device {
    display: block;
    margin: 0 auto;
    &.iphone6 {
      width: 340px;
      height: 550px;
    }
  }
}

.portfolio-copy {
  max-width: 650px;
  margin: 0 auto;
  color: $primary-green;
  p, li {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }
  p + * {
    margin-top: 1em; 
  }
  h2 {
    color: $fifth-green;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    background: $underline;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
  }
  img {
    max-width: 100%;
  }
}

.key-stats {
  color: $fifth-green;
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
  h5 {
    font-size: 1em;
    font-weight: 700;
  }
  .table {
    font-size: 0.8em;
    font-style: italic;
  }
}

.portfolio-head.stl {
  background: linear-gradient(180deg, rgba(255,255,255,0.1), rgba(255,255,255,1) 95%), url(/assets/images/projects/stl/stl-header.png) fixed top no-repeat;
}