$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$first-green: #66cead;
$second-green: #78978d;
$primary-green: #40826d;
$fourth-green: #a4cec1;
$fifth-green: #274f42;
$logo-font: 'Vampiro One', cursive;
$heading-font: 'Kreon', serif;
$body-font: 'Fira Sans', sans-serif;
$underline: linear-gradient(to left, rgba(39, 79, 66, 0), rgba(39, 79, 66, 0.7), rgba(39, 79, 66, 0)) bottom/80% 1px no-repeat;
$overline: linear-gradient(to left, rgba(39, 79, 66, 0), rgba(39, 79, 66, 0.7), rgba(39, 79, 66, 0)) top/50% 1px no-repeat;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

html, body {
	font-family: $body-font;
	font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.modal-open {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

:focus, a:focus {
	outline: none;
}

.navbar {
	margin-bottom: 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.white-button {
  border: 3px solid #fff;
  border-radius: 0.6em;
  padding: 0.3em 0.7em;
  margin: 2em 0;
  color: #fff;   
  font-weight:300;
  font-family: $heading-font;
  transition: all 1s ease-in;
  cursor: pointer;
  &:hover {
      background: #fff;
      color: $fifth-green;
      text-decoration: none;
      transition: all 1s ease-in;
  }
}

.green-button {
 @extend .white-button;
 border: 3px solid $primary-green;
 color: $primary-green;
 &:hover {
  background: $primary-green;
  color: #fff;
 }
}

// Component styles are injected through grunt
// injector
@import 'browserImage/browserImage.scss';
@import 'contactForm/contactForm.scss';
@import 'footster/footster.scss';
@import 'main/main.scss';
@import 'mobileDevice/mobileDevice.scss';
@import 'navbar/navbar.scss';
@import 'portfolioFig/portfolioFig.scss';
@import 'projects/projects.scss';
@import 'modal/modal.scss';
// endinjector