.content {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  h1 {
    font: 700 2.5em $heading-font;
    color: $fifth-green;
    margin: 1.5em 0 0.7em;
    padding-bottom: 0.5em;
    background: $underline
  }
  p {
    color: $primary-green;
    font-size: 1.3em;
    font-weight: 300;
  }
  blockquote {
    border-left: none;
    background: $overline;
    margin-bottom: 2em 0;
    p {
        font-weight: 700;
    }
    cite {
        font-size: 0.7em;
    }
  }
}

.no-touch .content.init {
  opacity: 0;
}

.hero {
    height: 100vh;
    min-height: 600px;
    background: url(/assets/images/pattern2.png) repeat;
    font: 300 2em $heading-font;
    color: #fff;
    .hero-content {
        margin: 0 auto;
        padding: 5em 0;
        text-align: center;
        h1 {
            font: 2em $logo-font;
            border: 12px solid $primary-green;
            padding: 0.5em 0;
            margin: 0 auto;
            width: 350px;
            border-radius: 60%;
            text-shadow: 2px 4px 0 #000;
            box-shadow: 0 5px 0 $fifth-green, inset 0 5px $fifth-green;
        }
        h2 {
            margin: 2em 1em;
            font-weight:300;
        }
    }
}
.about {
    min-height: 100vh;
    position: relative;
    @media screen and (max-height: 600px) {
        min-height: 600px;
    }
}

.skills-img,
.about-img {
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.image-contain {
  height: 100%;
}

.about-img {
  right: 0;
  .image-contain {
    background: url(/assets/images/path.jpg) right/cover no-repeat;
  }
}

.skills-img {
  .image-contain {
    background: url(/assets/images/tools.jpg) center/cover no-repeat;
  }
}

.skills {
  @extend .about;
  background: $primary-green;
}

.skill {
  + .skill {
    margin-top: 1em;
  }
  text-align: left;
  img {
    float: left;
    width: 70px;
    height: auto;
    margin-right: 1em;
  }
  h2, p {
    color: #fff
  }
  h2 {
    font-size: 2.5em;
    margin: 0.2em 0 0.5em;
    font-weight: 300;
  }
  p {
    opacity: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    transition: opacity 0.3s ease-in-out;
  }
  transition: transform 0.3s ease-in-out;
}

.no-touch .skill {
  &:hover {
    transform: translate(18px, -20px) scale(1.1);
    p {
      opacity: 1;
    }
  }
}
.touch .skill {
  &.skill-hover {
    transform: translate(18px, -20px) scale(1.1);
    p {
      opacity: 1;
    }
  }
}

.skill { // Clearfix
  &::before, &::after {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
  }
}


.portfolio {
    @extend .about;
    background: url(/assets/images/logpile.jpeg) center/cover no-repeat;
    a {
        font-size: 1.5em;
    }
    h1 {
      background: $underlight;
      color: #fff;
    }
    p {
        color: #fff;
        margin-bottom: 2em;
    }
    .content {
      max-width: 700px;
    }
}

.blog {
  @extend .about;
  .post p {
    &::after {
      content: '...';
    }
  }
  .content .posts {
    text-align: left;
  }
  .small {
    font-size: 0.6em;
    font-style: italic;
    color: $first-green;
  }
  h2 {
    margin-top: 2.5em;
  }
  .post-list {
    list-style-type: none;
    -webkit-padding-start: 0;  
  }
}