/******* General content *******/

.content {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  h1 {
    font: 700 2.5em $heading-font;
    color: $fifth-green;
    margin: 1.5em 0 0.7em;
    padding-bottom: 0.5em;
    background: $underline
  }
  p {
    color: $primary-green;
    font-size: 1.3em;
    font-weight: 300;
  }
  p + p {
    margin-top: 0.75em;
  }
  .button {
    padding-top: 1.5em
  }
  blockquote {
    border-left: none;
    background: $overline;
    margin-bottom: 2em 0;
    p {
        font-weight: 700;
    }
    cite {
        font-size: 0.7em;
    }
  }
}

.no-touch .content.init {
  opacity: 0;
}

/******* Hero section *******/

.hero {
  height: 100vh;
  min-height: 600px;
  background: url(/assets/images/pattern2.png) repeat;
  font: 300 2em $heading-font;
  color: #fff;
  .hero-content {
    margin: 0 auto;
    padding: 5em 0;
    text-align: center;
    h1 {
      font: 2em $logo-font;
      border: 12px solid $primary-green;
      padding: 0.5em 0;
      margin: 0 auto;
      width: 350px;
      border-radius: 60%;
      text-shadow: 2px 4px 0 #000;
      box-shadow: 0 5px 0 $fifth-green, inset 0 5px $fifth-green;
    }
    h2 {
      margin: 2em 1em;
      font-weight:300;
    }
  }
}

/******* About section *******/

.about {
  min-height: 100vh;
  position: relative;
  @media screen and (max-height: 600px) {
    min-height: 600px;
  }
}

.skills-img,
.about-img {
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.image-contain {
  height: 100%;
}

.about-img {
  right: 0;
  .image-contain {
    background: url(/assets/images/path.jpg) right/cover no-repeat;
  }
}

/******* Skills section *******/

.skills-img {
  .image-contain {
    background: url(/assets/images/tools.jpg) center/cover no-repeat;
  }
}

.skills {
  @extend .about;
  background: linear-gradient(0deg, white, rgba(0,0,0,0), white),url(/assets/images/aerowood2.png);
}

.skill {
  + .skill {
    margin-top: 1em;
  }
  text-align: left;
  img {
    float: left;
    width: 70px;
    height: auto;
    margin-right: 1em;
  }
  h2, p {
    //color: #fff
  }
  h2 {
    font-size: 2.5em;
    margin: 0.2em 0 0.5em;
    font-weight: 300;
  }
  p {
    opacity: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    transition: opacity 0.3s ease-in-out;
  }
  transition: transform 0.3s ease-in-out;
}

.no-touch .skill {
  &:hover {
    transform: translate(18px, -20px) scale(1.1);
    p {
      opacity: 1;
    }
  }
}
.touch .skill {
  &.skill-hover {
    transform: translate(18px, -20px) scale(1.1);
    p {
      opacity: 1;
    }
  }
}

.skill { // Clearfix
  &::before, &::after {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
  }
}

/******* Portfolio section *******/

.portfolio {
  @extend .about;
  background: url(/assets/images/logpile.jpeg) center/cover no-repeat fixed;
  box-shadow: inset 0 0 10px 2px black;
  a {
    font-size: 1.5em;
  }
  h1 {
    background: $underlight;
    color: #fff;
  }
  p {
    color: #fff;
    margin-bottom: 2em;
  }
  .content {
    max-width: 700px;
  }
}

/******* Blog section *******/

.blog {
  @extend .about;
  .post p {
    font-size: 1.1em;
    &::after {
      content: '...';
    }
  }
  .post + .post {
    margin-top: 0.5em;
  }
  .content .post-list {
    text-align: left;
  }
  .small {
    font-size: 0.6em;
    font-style: italic;
    color: $first-green;
  }
  h2 {
    margin: 2.5em 0 1.7em;
    color: $fifth-green;
  }
  .post-list {
    list-style-type: none;
    -webkit-padding-start: 0;  
  }
  h3 {
    color: $fifth-green;
    font-weight: 300;
  }
  a:not(.green-button):hover {
    color: $primary-green;
  }
  p ~ .green-button {
    margin-bottom: 1.5em;
  }
}

/* Blog pagination controls and arrows */

$size: 25px;
$thickness: 4px;
$angle: 40deg;
$angleHover: 30deg;
$angleActive: 25deg;

@mixin arrowTransform( $angle, $x: 0, $y: 0 ) {
  i:first-child {
    transform: translate( $x, $y ) rotate( $angle );
  }

  i:last-child {
    transform: translate( $x, -$y ) rotate( -$angle );
  }
}

.paginate-controls {
  display: block;
  width: 200px;
  height: ($size * 2) + ($thickness * 2);
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.paginate {
  position: absolute;
  margin: 0 20px;
  width: $size + $thickness;
  height: $size + $thickness;
  cursor: pointer;
  transform: translate3d(0,0,0);
  top: 50%;
  margin-top: -20px;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
  i {
    position: absolute;
    top: 40%;
    left: 0;
    width: $size;
    height: $thickness;
    border-radius: $thickness/2;
    background: $fifth-green;
    transition: all .15s ease;
  }
  &.left {
    right: 50%;
    i {
      transform-origin: (0% 50%);
    }
    @include arrowTransform($angle, 0, -1px);
    &:hover {
      @include arrowTransform($angleHover, 0, -1px);
    }
    &:active {
      @include arrowTransform($angleActive, 0, -1px);
    }
    &.disabled {
      @include arrowTransform(0deg, 0, 0);
      &:hover {
        @include arrowTransform(0deg, 0, 0);
      }
    }
  }
  &.right {
    left: 50%;
    i {
      transform-origin: (100% 50%);
    }
    @include arrowTransform($angle, 0, 1px);
    &:hover {
      @include arrowTransform($angleHover, 0, 1px);
    }
    &:active {
      @include arrowTransform($angleActive, 0, 1px);
    }
    &.disabled {
      @include arrowTransform(0deg, 0, 0);
      &:hover {
        @include arrowTransform(0deg, 0, 0);
      }
    }
  }
  &.disabled {
    opacity: 0.3;
    cursor: default;
  }
}