<div class="hero">
  <div class="hero-content" >
    <h1>lumbrjack</h1>
    <h2>Hewing the web by hand since 2011</h2>
    <a class="white-button" scroll-to="contact-me">Contact me</a>
  </div>
</div>
<div class="about">
  <span id="about"></span>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <h1>About</h1>
          <p>London based product manager, javascript developer and budding web designer.</p>
          <p>I thrive on early stage products: talking to users, defining the problem, running experiments, building a solution.</p>
          <p>When not behind my laptop I am in the forest, chopping wood, wearing plaid shirts...</p>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6 about-img">
        <div class="image-contain"></div>
      </div>
    </div>
  </div>
</div>
<div class="skills">
  <span id="skills"></span>
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-6 skills-img">
        <div class="image-contain"></div>
      </div>
      <div class="col-xs-12 col-md-6 pull-right">
        <div class="content">
          <div class="skill" hm-tap="main.tapHover($event)">
            <img src="/assets/images/icons/presentation.png" alt="">
            <h2>Product</h2>
            <p>Experienced product manager. Delivers the right product.</p>
          </div>
          <div class="skill" hm-tap="main.tapHover($event)">
            <img src="/assets/images/icons/code.png" alt="">
            <h2>Development</h2>
            <p>Front to back JavaScript developer. Angular and Node evangelist.</p>
          </div>
          <div class="skill" hm-tap="main.tapHover($event)">
            <img src="/assets/images/icons/rulers.png" alt="">
            <h2>Design</h2>
            <p>Waxes lyrical about the merits of thoughtful typography.</p>
          </div>
          <div class="skill" hm-tap="main.tapHover($event)">
            <img src="/assets/images/icons/compose.png" alt="">
            <h2>Content</h2>
            <p>Blog writing, copy writing, marketing collateral - name it.</p>
          </div>
        </div>
      </div>
    </row>
  </div>
</div>
</div>
<div class="portfolio">
  <span id="portfolio"></span>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h1>Portfolio</h1>
          <p>I've built and tested products for clients from <strong>top 100</strong> law firms and <strong>FTSE 150</strong> FMCG companies, to first round startups.</p>
          <a class="white-button" ui-sref="projects">See my work</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog">
 <span id="blog"></span>
 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12 col-md-6">
       <div class="content">
         <h1>Blog</h1>
         <p>My perspectives on coding, product management, whisky and fire.</p>
         <p>Writing helps me discover my own assumptions. It's only then that I can start tseting those assumptions. Writing is a product managers most important tool.</p>
         <p>Built, given my JavaScript persuasions, on <a href="http://ghost.org">ghost.org</a>.</p>
       </div>
     </div>
     <div class="col-xs-12 col-md-6">
       <div class="content">
        <h2>Recent posts:</h2>
         <div class="posts">           
           <ul class="post-list">
             <li class="post" ng-repeat="post in main.posts | offset: main.currentPage * main.itemsPerPage | limitTo: main.itemsPerPage">
               <h3>{{post.title}}</h3>
               <a ng-href="{{post.link}}"><p>{{post.subtitle | limitTo: 50}}</p></a>
             </li>
           </ul>
           <a href="http://blog.lumbrjack.com/" target="_blank">See all posts</a>
           <p class="small">Ghost.org have not yet released a public API, so for now this list is woefully. static. Stay tuned.</p>
           <div class="pagination">
             <ul>
               <li ng-class="main.prevPageDisabled()">
                 <a href ng-click="main.prevPage()">Prev</a>
               </li>
               <!-- <li ng-repeat="n in main.range()" ng-class="{active: n == main.currentPage}" ng-click="main.setPage(n)"><a href>{{n+1}}</a></li> -->
               <li ng-class="main.nextPageDisabled()">
                 <a href ng-click="main.nextPage()">Next</a>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
