footer {
	background: linear-gradient(0deg, rgba(255,255,255,0) 80%, rgba(255,255,255,1) ), url(/assets/images/background.png) bottom/cover no-repeat;
	padding: 1em 0 1em;
	h2 {
		font-family: $heading-font;
		color: #fff;
		text-align: center;
	}
}

.contact-footer {
	max-width: 600px;
	margin: 0 auto;
}

.social-icons {
	text-align: center;
	ul {
		-webkit-padding-start: 0;
		list-style-type: none;
		margin-bottom: 0;
	}
	li {
		text-align: center;
		padding: 0 1em;
	}
	a {
		color: $fourth-green;
		font-size: 2em;
		&:hover {
			color: $first-green;
		}
	}
}

.footer-copy {
	max-width: 450px;
	margin: 0 auto;
	h1 {
		font-family: $logo-font;
		color: #fff;
	  text-shadow: 2px 2px 0 #000;
	  text-align: center;
	}
	p {
		color: #fff;
		font-size: 1.2em;
		margin: 1.2em 0 1em;
	}
	img {
		max-width: 70%;
		opacity: 0.3;
		display: block;
		margin: 0 auto;
	}
}

.footer-nav {
	ul {
		list-style-type: none;
		font-family: $heading-font;
		-webkit-padding-start: 0;
		font-size: 1.2em;
	}
	li {
		border-top: 1px dashed #fff;
	}
	li + li {
		margin-top: 0.5em;
	}
	a {
		color: #fff;
	}
}

.colophon {
	max-width: 90%;
	margin: 0 auto;
	color: #fff;
	background: $overlight;
	padding-top: 1em;
	p {
		max-width: 90%;
		margin: 0 auto
	}
	span {
		float: right;
	}
}