footer {
	background: $fifth-green;
	padding: 1em 0 2em;
	h2 {
		font-family: $heading-font;
		color: #fff;
		text-align: center
	}
}

.contact-footer {
	max-width: 600px;
	margin: 0 auto;
}

.social-icons {
	text-align: center;
	ul {
		-webkit-padding-start: 0;
		list-style-type: none;
	}
	li {
		text-align: center;
		padding: 0 1em;
	}
	a {
		color: $fourth-green;
		font-size: 2em;
		&:hover {
			color: $first-green
		}
	}
}